@import url('https://fonts.cdnfonts.com/css/moldyen');
@import url('https://fonts.cdnfonts.com/css/minion-sc');
@import url('https://fonts.cdnfonts.com/css/westiga');

/* /FR/NORMES/ED/ */

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* /FR/NAVBAR/ED/ */

.nav-zindex {
    z-index: 100;
    position: absolute;
    top: 0%;
}

.menu {
    display: flex;
    justify-content: end;
}

.icon-menu {
    background-color: white;
    border-radius: 10%;
}
.logo-site {
    font-family: 'Westiga', sans-serif;
}

/* CONTACT */

:root {
    --brown-background: url(../assets/BgBrown.png);
}

#topNavBar {
    width: 100%;
    position: fixed;
    background: var(--brown-background);
}

.title-contact {
    margin-top: 5%;
}

/* ! modification css principal ligne 24*/

.title-contact, .title-categ {
    margin-bottom: 3%;
    padding: 3px;
}

.container-contact {
    width: 100%;
    display: grid;
    justify-content: center;

}

.contact-submit {
    overflow-x: visible;
    margin-bottom: 20%;
}

.contact-btn {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background: var(--brown-background);
}

/* /FR/FOOTER/ED/ */

.container-footer {
    background: var(--brown-background);
    width: 100%;
    height: auto;
    margin-top: 5%;

    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: center;
    gap: 0% 10%;
    padding: 2%;
}

.footer-menu{
    height: auto;
    display: grid;
    grid-template-rows: repeat(5,auto);
}

.footer-menu p, .footer-categ p, .footer-social p, .footer-admin p{
    margin-bottom: 5px;
    color: white;
}

.footer-menu a, .footer-categ a {
    color: white;
    text-decoration: none;
}

.footer-categ{
    width: auto;
    display: grid;
    grid-template-rows: repeat (5,auto);
}

.footer-social{
    width: auto;
    display: flex;
    flex-direction: column;
}

.footer-social img {
    width: 35px;
    margin: 5px;
}

.navnavnav, #link{
    color: white;
}

.navnavnav:hover, #link:hover {
    color: #fac21b;
}

/* CATEGORYS VIEW */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

}
.grid-item {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.title-category{
    margin-top: 10vh;
    text-align: center;
}

.description-category{
    margin-left: 10vw;
}

