@import url('https://fonts.cdnfonts.com/css/moldyen');
@import url('https://fonts.cdnfonts.com/css/minion-sc');
@import url('https://fonts.cdnfonts.com/css/westiga');

/* //NORMES// */

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --brown-background: url(../assets/BgBrown.png);
    --grey-background: url(../assets/BgGray.png);
}

/* //NAVBAR// */

.nav-zindex {
    z-index: 100;
    position: relative;
    top: 0%;
}

.menu {
    display: flex;
    justify-content: end;
}

.icon-menu {
    background-color: white;
    border-radius: 10%;
}
.logo-site {
    font-family: 'Westiga', sans-serif;
}

/* //INTRO INSTRU// */

.title-instrument, .title-categ {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3px;
}

.text-instru {
    background: var(--grey-background);
    width: 100%;
    height: 100%;
    text-align: justify;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px ;
}

.img-instru {
    width: 550px;
    height: 400px;
    object-fit: cover;
}

.container-test {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,550px);
    grid-template-rows: repeat(1, 400px);
    justify-content: center;
    margin-bottom: 5%;
}

.contact-btn {
    position: relative;
    top: -38px;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 3%;
}

.line {
    position: relative;
    width: 60%;
    height: 1px;
    left: 50%;
    transform: translate(-50%);
    background-color: black;
    margin-bottom: 3%;
}


/* CONTACT */


#topNavBar {
    width: 100%;
    position: fixed;
    background: var(--brown-background);
}

.title-contact {
    margin-top: 5%;
}

/* ! modification css principal ligne 24*/

.title-contact, .title-categ {
    margin-bottom: 3%;
    padding: 3px;
}

.container-contact {
    width: 100%;
    display: grid;
    justify-content: center;

}

.contact-submit {
    overflow-x: visible;
    margin-bottom: 20%;
}

.contact-btn {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background: var(--brown-background);
}

/* //FOOTER// */

.container-footer {
    background: var(--brown-background);
    width: 100%;
    height: auto;
    margin-top: 5%;

    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: center;
    gap: 0% 10%;
    padding: 2%;
}

.footer-menu{
    height: auto;
    display: grid;
    grid-template-rows: repeat(5,auto);
}

.footer-menu p, .footer-categ p, .footer-social p, .footer-admin p{
    margin-bottom: 5px;
    color: white;
}

.footer-menu a, .footer-categ a {
    color: white;
    text-decoration: none;
}

.footer-categ{
    width: auto;
    display: grid;
    grid-template-rows: repeat (5,auto);
}

.footer-social{
    width: auto;
    display: flex;
    flex-direction: column;
}

.footer-social img {
    width: 35px;
    margin: 5px;
}

.navnavnav, #link{
    color: white;
}

.navnavnav:hover, #link:hover {
    color: #fac21b;
}

/* CATEGORYS VIEW */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

}
.grid-item {
    border: 1px solid black;
    padding: 1em;
    text-align: center;
}

.title-category{
    margin-top: 10vh;
    text-align: center;
}

.description-category{
    width: 80vw;
}

